<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>App 1</title>
    </head>
    <body>
        {% include "navbar.html" %}

        <div class="container">
                <div class="jumbotron">
                        <h1 class="display-4">Welcome to App 1!</h1>
                        <p class="lead">
                                <a class="btn btn-primary btn-lg" href="/" role="button">Go back to Home</a>
                        </p>
                </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>