<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    />

    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">

      google.charts.load('current', {packages: ['corechart', 'bar']});

      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChart2);
      google.charts.setOnLoadCallback(drawChart3);
      google.charts.setOnLoadCallback(drawChart4);

      function drawChart() {
          var data = google.visualization.arrayToDataTable({{ data|safe }});
          var options = {
          title: 'Tickets Open by Team',
          legend: { position: 'none', maxLines: 1 },
          annotations: {
            alwaysOutside: true,
            textStyle: {
              fontSize: 10,
              auraColor: 'none',
              color: '#fff'
            }
          },
          bar: { groupWidth: '85%' },
          chartArea:{width:'85%'}
      };

          var chart = new google.visualization.ColumnChart(document.getElementById('barchart'));
          chart.draw(data, options);
      }

      function drawChart2() {
          var data = google.visualization.arrayToDataTable({{ data2|safe }});
          var options = {
          title: 'Tickets Open by Tech',
          legend: { position: 'none', maxLines: 1 },
          annotations: {
            alwaysOutside: true,
            textStyle: {
              fontSize: 10,
              auraColor: 'none',
              color: '#fff'
            }
          },
          bar: { groupWidth: '85%' },
          // chartArea:{left:'10%',top:'10%',width:'95%',height:'70%'}
          chartArea:{width:'85%'}
      };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
          chart.draw(data, options);
      }

      function drawChart3() {
          var data = google.visualization.arrayToDataTable({{ data4|safe }});
          var options = {'title':'By Region',
          legend: { position: 'top', maxLines: 1 },
          bar: { groupWidth: '75%' },
          isStacked: true,
          annotations: {
            alwaysOutside: true,
            textStyle: {
              fontSize: 12,
              auraColor: 'none',
              color: '#fff'
            }
          },
          chartArea:{width:'85%'}

          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart3'));
          chart.draw(data, options);
      }

      function drawChart4() {
          var data = google.visualization.arrayToDataTable({{ data3|safe }});
          var options = {
              title: 'Sales and Expenses',
              curveType: 'function',
              legend: { position: 'bottom' },
              chartArea:{width:'85%'}
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart4'));
          chart.draw(data, options);
      }
    </script>
    <style>
      .chart-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div
      class="section"
      style="width: 100%; height: 95vh; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr;"
    >
      <div class="section" id="barchart" style=" width: 100%; height: 100%; border: 1px solid grey; border-radius: 3px;"></div>
      <div class="section" id="chart2" style=" width: 100%; height: 100%; border: 1px solid grey; border-radius: 3px;"></div>
      <div class="section" id="chart3" style=" width: 100%; height: 100%; border: 1px solid grey; border-radius: 3px;"></div>
      <div class="section" id="chart4" style=" width: 100%; height: 100%; border: 1px solid grey; border-radius: 3px;"></div>
  
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
